/* config/totem.keymap */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/* LAYER DEFINITIONS */
#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  3
#define FUN  4

/ {
    /* BEHAVIORS */
    behaviors {
        /* Sticky Layer: Tap to activate (1 key), Double-tap to lock layer */
        sl_custom: sticky_layer_custom {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_LAYER";
            #binding-cells = <1>;
            bindings = <&mo>;
            release-after-ms = <1000>;
            quick-release;
        };

        /* Sticky Mod: Tap Mod, then Tap Key (e.g., Tap Ctrl, Tap C = Ctrl+C) */
        sk_mod: sticky_mod {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_MOD";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <2000>;
            quick-release;
            ignore-modifiers; 
        };
    };

    /* COMBOS */
    combos {
        compatible = "zmk,combos";

        /* UTILITY COMBOS */
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;  /* Top Left: W + L */
            bindings = <&kp ESC>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <16 17>; /* Right Home: N + E */
            bindings = <&kp RET>;
        };

        combo_capsword {
            timeout-ms = <50>;
            key-positions = <13 16>; /* Left Index + Right Index: T + N */
            bindings = <&caps_word>;
        };
        
        /* BOOTLOADER (Safety combo: Top 3 outer keys) */
        boot_left  { timeout-ms = <50>; key-positions = <0 10 20>; bindings = <&bootloader>; };
        boot_right { timeout-ms = <50>; key-positions = <9 19 31>; bindings = <&bootloader>; };
    };

    /* KEYMAP */
    keymap {
        compatible = "zmk,keymap";

        /* LAYER 0: BASE (Pure Canary) */
        base_layer {
            label = "BASE";
            bindings = <
      &kp W      &kp L      &kp Y      &kp P      &kp B           &kp Z      &kp F      &kp O      &kp U      &kp SQT
      &kp C      &kp R      &kp S      &kp T      &kp G           &kp M      &kp N      &kp E      &kp I      &kp A
&kp TAB &kp Q    &kp J      &kp V      &kp D      &kp K           &kp X      &kp H      &kp FSLH   &kp COMMA  &kp DOT  &kp SEMI
                 &sl_custom NUM  &kp SPACE  &sl_custom NAV        &sl_custom SYM  &kp BSPC   &sl_custom FUN
            >;
        };

        /* LAYER 1: NAV
         * Left Home Row: GUI, Alt, Ctrl, Shift (Sticky Mods)
         * Bottom Left: Clipboard Macros (Undo, Cut, Copy, Paste)
         */
        nav_layer {
            label = "NAV";
            bindings = <
      &kp ESC    &kp TAB    &kp HOME   &kp END    &kp DEL         &kp PG_UP  &kp PG_DN  &kp UP     &kp LC(X)  &kp LC(V)
      &sk_mod LGUI &sk_mod LALT &sk_mod LCTRL &sk_mod LSHIFT &trans      &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp LC(C)
&trans &trans    &trans     &trans     &trans     &trans          &trans     &trans     &trans     &trans     &trans     &trans
                 &trans     &trans     &trans          &trans     &kp DEL    &trans
            >;
        };

        /* LAYER 2: NUM */
        num_layer {
            label = "NUM";
            bindings = <
      &trans     &trans     &trans     &trans     &trans          &kp FSLH   &kp N7     &kp N8     &kp N9     &kp MINUS
      &sk_mod LGUI &sk_mod LALT &sk_mod LCTRL &sk_mod LSHIFT &trans      &kp ASTRK  &kp N4     &kp N5     &kp N6     &kp PLUS
&trans &trans    &trans     &trans     &trans     &trans          &kp N0     &kp N1     &kp N2     &kp N3     &kp DOT    &trans
                 &trans     &trans     &trans          &trans     &trans     &trans
            >;
        };

        /* LAYER 3: SYM */
        sym_layer {
            label = "SYM";
            bindings = <
      &kp GRAVE  &kp LT     &kp GT     &kp DQT    &kp DOT         &kp AMPS   &trans     &kp LBKT   &kp RBKT   &kp PRCNT
      &kp EXCL   &kp MINUS  &kp PLUS   &kp EQUAL  &kp HASH        &kp PIPE   &trans     &kp LPAR   &kp RPAR   &kp COLON
&trans &kp TILDE &kp UNDER  &kp FSLH   &kp ASTRK  &kp BSLH        &kp CARET  &trans     &kp LBRC   &kp RBRC   &kp QMARK  &trans
                 &trans     &trans     &trans          &trans     &trans     &trans
            >;
        };

        /* LAYER 4: FUN */
        fun_layer {
            label = "FUN";
            bindings = <
      &kp F12    &kp F7     &kp F8     &kp F9     &kp PSCRN       &bt BT_CLR &trans     &trans     &trans     &trans
      &kp F11    &kp F4     &kp F5     &kp F6     &kp SLCK        &trans     &trans     &trans     &trans     &trans
&trans   &kp F10   &kp F1   &kp F2   &kp F3   &kp PAUSE   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &trans   &trans
                 &trans     &trans     &trans          &trans     &trans     &trans
            >;
        };
    };
};